@using PagedList.Mvc;
@using PagedList;
<table>
    <tr>
        <th>
            Spelling
        </th>
        <th>
            Phonetic
        </th>
        <th>
            Paraphrase
        </th>
        <th>
            Process
        </th>
        <th>
            Priority
        </th>
        <th>
            LastLearn
        </th>
        <th>
            FirstLearn
        </th>
        <th>
            Import
        </th>
        <th>
            Classs
        </th>
        <th>
            ModifiedOn
        </th>
        <th>
            Deadline
        </th>
        <th>
            LastForget
        </th>
        <th>
            YesTotalCount
        </th>
        <th>
            NoTotalCount
        </th>
    </tr>

    @foreach (var item in ViewBag.OnePageOfHistoryList)
    {
        <tr>
            <td>
                @item.Spelling
            </td>
            <td>
                @item.Phonetic
            </td>
            <td>
                @item.Paraphrase
            </td>
            <td>
                @item.Process
            </td>
            <td>
                @item.Priority
            </td>
            <td>
                @item.LastLearn
            </td>
            <td>
                @item.FirstLearn
            </td>
            <td>
                @item.Import
            </td>
            <td>
                @item.Classs
            </td>
            <td>
                @item.ModifiedOn
            </td>
            <td>
                @item.Deadline
            </td>
            <td>
                @item.LastForget
            </td>
            <td>
                @item.YesTotalCount
            </td>
            <td>
                @item.NoTotalCount
            </td>
        </tr>
    }
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfHistoryList, page => Url.Action("GetWordsList",
    new { page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
    new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "unobtrusive-historylist", OnComplete = "updatePagedParameters" }))
</table>
