@{
    ViewBag.Title = "Index";
}
@section head{
    @Styles.Render("~/Content/PagedList.css")
    @Styles.Render("~/bundles/pickadate/css")
    @Styles.Render("~/Content/TimeStatistic.css")

    @Scripts.Render("~/bundles/pickadate")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/ZeroClipboard.min.js")
    @Scripts.Render("~/Scripts/bussiness/zeroclip.js")
}

<h2>Index</h2>

<input id="txtStartDate" class="datepicker" />--<input id="txtEndDate" class="datepicker" />
<input id="btnSearch" type="button" value="go" />

<div id="unobtrusive-historylist">
    @Html.Partial("HistoryPartial")
</div>
<div id="onComplete"></div>
<script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    $(function () {
        $('.datepicker').pickadate();
        $('#btnSearch').click(function () {
            var startDate = $('#txtStartDate').val();
            var endDate = $('#txtEndDate').val();
            //if (startDate == "") {
            //    $('#txtStartDate').focus();
            //    return false;
            //}
            //if (endDate == "") {
            //    $('#txtEndDate').focus();
            //    return false;
            //}

            $.ajax({
                url: '/TimeStatistic/GetHistoryList',
                cache: false,
                type: 'post',
                async: false,
                data: JSON.stringify({ startDateStr: startDate, endDateStr: endDate }),
                contentType: 'application/json;charset=utf-8',
                success: function (data, status, xhr) {
                    $('#unobtrusive-historylist').empty();
                    $('#unobtrusive-historylist').append(data);
                    updatePagedParameters();
                },
                error: function (data, status, e) {
                    alert("ajax error");
                }
            });
        });
    });

    function updatePagedParameters() {
        var startDate = $('#txtStartDate').val();
        var endDate = $('#txtEndDate').val();
        $('.pagination li a').each(function () {
            var href = $(this).attr('href');
            if (href != undefined) {
                href = href + '&startDateStr=' + startDate + '&endDateStr=' + endDate;
                $(this).attr('href', href);
            }
        });
        InitZeroClip();//由于是异步，所以得再初始化一遍复制功能
    }

    function PagedOnComplete(obj) {
        console.log(obj);
        var $oncomplete = $('#oncomplete');
        $oncomplete
        .text('Paging operation completed.')
        .css('backgroundColor', 'yellow')
        .fadeOut({
            complete: function () {
                $oncomplete.css('backgroundColor', 'transparent').text('').show();
            }
        });
    }
</script>
