@using System
@using System.Collections.Generic
@using LjcWebApp;
@using Sakura.AspNetCore;
@using LjcWebApp.Models.ViewModels
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    @*<link rel="stylesheet" href="~/css/bundle.css" />*@
    <link href="~/lib/pikaday/css/bundle.min.css" rel="stylesheet" />
</head>
<body>
    <h2>Index</h2>
    <input id="txtStartDate" class="datepicker" value="@ViewBag.StartDateStr" />--<input id="txtEndDate" class="datepicker" value="@ViewBag.EndDateStr" />
    <input id="btnSearch" type="button" value="go" placeholder="请输入搜索关键字" />
    <div>
        <input id="txtSearch" style="width: 350px;margin-top: 2px" value="@ViewBag.SearchText" />
    </div>
    <div id="unobtrusive-historylist">
        <table>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    EventName
                </th>
                <th>
                    EffectiveTime
                </th>
                <th>
                    PlanTime
                </th>
                <th>
                    StartTime
                </th>
                <th>
                    EndTime
                </th>
                <th>
                    Status
                </th>
                <th>
                    Remark
                </th>
            </tr>
            @foreach (var ondayDataModel in ViewBag.OnePageOfHistoryList)
            {
                var copyText = "";
                if (ondayDataModel.EventModelList.Count > 0)
                {
                    var list = (List<EventModel>)ondayDataModel.EventModelList;
                    copyText = String.Join("；", list.Select(p => p.EventName));
                }
                foreach (var item in ondayDataModel.EventModelList)
                {
                    <tr>
                        <td style="width:50px">
                            @item.Date
                        </td>
                        <td style="width:700px">
                            @item.EventName
                        </td>
                        <td>
                            @item.EffectiveTime
                        </td>
                        <td>
                            @item.PlanTime
                        </td>
                        <td>
                            @item.StartTime
                        </td>
                        <td>
                            @item.EndTime
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td>
                            @item.Remark
                        </td>
                        <td>
                            <input type="hidden" class="hddEventId" value="@item.EventId" />
                        </td>
                        <td>
                            <input type="hidden" class="hddRemark" value="@item.Remark" />
                        </td>
                        <td>
                            <input type="button" class="btnRemark" value="注" />
                        </td>
                        <td>
                            <input type="button" class="backToPaused" value="Back" />
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        @ondayDataModel.Date
                    </td>
                    <td>
                        <div class="clip_button" data-clipboard-text="@copyText" title="Click to copy">复制</div>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        @ondayDataModel.TotalEffectiveTime
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
            }
            <pager source="(IPagedList)ViewBag.OnePageOfHistoryList" />
        </table>
    </div>
    <div id="onComplete"></div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/bundle.js"></script>*@
<script src="~/lib/zeroclipboard/dist/ZeroClipboard.Core.js"></script>
<script src="~/lib/zeroclipboard/dist/ZeroClipboard.min.js"></script>
<script src="~/js/zeroclip.js"></script>
<script src="~/lib/moment/moment.js"></script>
<script src="~/lib/pikaday/pikaday.js"></script>
<script src="~/js/common.js"></script>
<script>
    $(function () {
        var picker1 = new Pikaday({
            field: document.getElementById('txtStartDate'),
            format: 'YYYY-MM-DD',
            onSelect: function () {
                this.hide();
            }
        });
        var picker2 = new Pikaday({
            field: document.getElementById('txtEndDate'),
            format: 'YYYY-MM-DD',
            onSelect: function () {
                this.hide();
            }
        });
        $('#btnSearch').click(function () {
            var startDate = $('#txtStartDate').val();
            var endDate = $('#txtEndDate').val();
            var searchText = $("#txtSearch").val();
            picker1.destroy();
            picker2.destroy();
            window.location.href = "/TimeStatistic/Index?startDateStr=" + startDate + "&endDateStr=" + endDate + "&searchText=" + searchText;
        });
        //搜索框回车时点搜索按钮
        $(document).on("keypress", "#txtSearch", function (evt) {
            evt = evt || window.event;
            var keyCode = evt.keyCode || evt.which;

            if (keyCode == 13 && document.activeElement == this) {
                $("#btnSearch").click();
            }
        });
    });

    //加一个重新将Stopped任务恢复到Paused状态的功能
    $(document).on('click', ".backToPaused", function () {
        var currentLine = $(this).parent().parent();
        var hddEventId = $(currentLine).find(".hddEventId").first();

        var ajaxResult;
        $.ajax({
            url: '/TimeStatistic/ChangeInQuadrant',
            cache: false,
            async: false,
            type: 'Post',
            data: { eventId: $(hddEventId).val(), inQuadrant: 0, status: "Paused" },

            success: function (data, status, xhr) {
                ajaxResult = data;
            },
            error: function (data, status, e) {
                alert("ajax error");
            }
        });

        if (ajaxResult == 0) {
            $(currentLine).remove();
        }
        else {
            alert("BackToPaused failed");
        }
    });

</script>
