@using System.Collections.Generic
@using LjcWebApp;
@using LjcWebApp.Models.ViewModels
@using Sakura.AspNetCore;
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<input id="txtStartDate" class="datepicker" value="@ViewBag.StartDateStr"/>--<input id="txtEndDate" class="datepicker" value="@ViewBag.EndDateStr"/>
<input id="btnSearch" type="button" value="go" />
<div id="unobtrusive-historylist">
    <table>
        <tr>
            <th>
                Date
            </th>
            <th>
                EventName
            </th>
            <th>
                StartTime
            </th>
            <th>
                EndTime
            </th>
            <th>
                EffectiveTime
            </th>
            <th>
                PlanTime
            </th>
            <th>
                Status
            </th>
            <th>
                Remark
            </th>
        </tr>

        @foreach (var ondayDataModel in ViewBag.OnePageOfHistoryList)
        {
            var copyText = "";
            if (ondayDataModel.EventModelList.Count > 0)
            {
                var list = (List<EventModel>)ondayDataModel.EventModelList;
                copyText = string.Join("；", list.Select(p => p.EventName));
            }
            foreach (var item in ondayDataModel.EventModelList)
            {
                <tr>
                    <td>
                        @item.Date
                    </td>
                    <td style="width:700px">
                        @item.EventName
                    </td>
                    <td>
                        @item.StartTime
                    </td>
                    <td>
                        @item.EndTime
                    </td>
                    <td>
                        @item.EffectiveTime
                    </td>
                    <td>
                        @item.PlanTime
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        @item.Remark
                    </td>
                </tr>
            }
            <tr>
                <td>
                    @ondayDataModel.Date
                </td>
                <td>
                    <div copytext="@copyText" data-toggle="popover" data-delay="{show: 500,hide:100}"
                         data-placement="right" data-content="复制成功" class="copy-button-wrap">
                        <input type="button" value="复制" class="copy-button" />
                    </div>
                </td>
                <td></td>
                <td></td>
                <td>
                    @ondayDataModel.TotalEffectiveTime
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
        }
        <pager source="(IPagedList)ViewBag.OnePageOfHistoryList" />
    </table>
</div>
<div id="onComplete"></div>
<script src="~/lib/pikaday/pikaday.js"></script>
<script>
    $(function () {
        var picker1 = new Pikaday({
            field: document.getElementById('txtStartDate'),
            format: 'yyyy-MM-dd',
            onSelect: function () {
                this.hide();
            }
        });
        var picker2 = new Pikaday({
            field: document.getElementById('txtEndDate'),
            format: 'yyyy-MM-dd',
            onSelect: function () {
                this.hide();
            }
        });
        $('#btnSearch').click(function () {
            var startDate = $('#txtStartDate').val();
            var endDate = $('#txtEndDate').val();
            picker1.destroy();
            picker2.destroy();
            window.location.href = "/TimeStatistic/Index?startDateStr=" + startDate + "&endDateStr=" + endDate;
        });
    });
</script>
